<header id="header">
        <section id="headerContainer">
            <div id="headerTitle">
                <h3 id="titleText" class="m-heading">ReactionTest</h3>
            </div>
            <div id="menu">
                <a href="/" id="home">Home</a>
                <a href="#" id="leaderBoards" class="mar-l-s">LeaderBoards</a>
            </div>
        </section>
</header>