:root{
    --black:#000000;
    --orange:#f5a31a;
    --white:#FFFFFF;
    --red:#d32626;
    --green:#79d70f;
    --blue:#2b87d1;
    --light-orange:#ffe2bc;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:var(--black);
}

input[type=text]{
    display: block;
    width: 100%;
    padding:0.75rem 1rem;
    border:none;
    border-radius: 4px;
}

.bold{
    font-weight: bold;
}

.mar-l-s{
    margin-left:1rem;
}

.mar-b-s{
    margin-bottom: 1rem;
}

.mar-t-l{
    margin-top: 2rem;
}

.m-heading{
    font-size: 1.5rem;
}

.l-heading{
    font-size:2rem;
}

#header{
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.33);
    position: sticky;
    z-index:3;
    background-color: var(--white);
}

#headerContainer{
    display: flex;
    align-items: center;
    padding:0.5rem;
    max-width: 1100px;
    margin: auto;
    background-color: var(--white);
}

#headerTitle,#menu{
    flex:1;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#home,#leaderBoards{
    padding:0.5rem; 
    border-radius: 3px;
}

#home:hover{
    background-color: var(--orange);
    color:var(--white);
}

#leaderBoards:hover{
    background-color: var(--orange);
    color:var(--white);
}

#mainArea{
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    z-index:1;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;    
    color:var(--white);
    padding:1rem;
}

#mainAreaContainer{
    min-width: 100%;
}

#mainHead{
    text-align: center;
}

#mainContent{
    text-align: center;
}

#buttonGroup{
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonGroup a,#saveScoreModal,#retry{
    color:var(--white);
    padding:0.5rem 1rem;
    background-color: var(--blue);
    border-radius: 3px;
    border:none;
    cursor: pointer;
}

#saveScoreModal,#retry{
    background-color: var(--orange);
}

#buttonGroup a:hover{
    opacity: 0.9;
}

#saveScore:hover{
    opacity: 0.9;
}

#retry:hover{
    opacity: 0.9;
}

#stats{
    display:flex;
    justify-content: space-evenly;
    max-width: 1100px;
    margin: auto;

}

#overlay{
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:2;
    display: none;
    align-items: center;
    justify-content: center;
}

#modalContainer{
    width: 400px;
    padding:1rem;
}

#modal  form{
    text-align: center;
}


#messageBox{
    color:var(--white);
    background-color: var(--black);
    padding:1rem;
    width: 100%;
    border:none;
    border-radius: 3px;
    display: none;
}

#leaderBoard{
    background-color: var(--white);
    margin-top: 3rem;
}

#leaderBoardList{
    background-color: var(--white);
    max-width: 1100px;
    margin: auto;
}

.flex-list{
    display: flex;
    padding:1rem;
    font-size: 1.10rem;
    
}

.flex-list:nth-child(even){
    background-color: var(--light-orange);
}

.flex-3{
    flex:3;
}

.flex-1{
    flex:1;
    text-align: center;
}

